.navbar{
    height: 58px;
    border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    flex: 20;
    

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //background-color: #266593;

        .search{
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;

            input{
                border: none;
                outline: none;
                padding: 5px;
                background: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }

          
        }
        .text1{
            display: flex;
            align-items: center;
            margin: -50px;
            flex-direction: row;
            font-weight: bold;
        }

        .items{
            display: flex;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;


                .icon{
                    font-size: 20px;
                    cursor: pointer;

                    &:hover{
                        color: #266593;
                    }
                }

                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
                .notification-dropdown {
                    position: absolute;
                    top: 30px; /* Adjust based on your design */
                    right: 0;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    width: 200px;
                    z-index: 1000;
                  }
                  
                  .notification-dropdown ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                  }
                  
                  .notification-dropdown li {
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                  }
                  
                  .notification-dropdown li:hover {
                    background-color: #f0f0f0;
                  }
                  
            }
        }
    }
}