.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -900px;
    //margin-right: -600px;
    margin-top: 100px;
    height: 500px;
    width: 500px;
    -webkit-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
    box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
    border-radius: 10px;

    &__change{
      margin-top: 10px;
      color: green;
      cursor: pointer;
    }

    
  }
  