.map{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: -7px 5px 23px -4px rgba(0,0,0,0.67);
    -moz-box-shadow: -7px 5px 23px -4px rgba(0,0,0,0.67);
    box-shadow: -7px 5px 23px -4px rgba(0,0,0,0.67);
    margin-top: 40px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-left: 450px;
}